<div class="question-header">   
  <h3>{{question.question}}</h3>
  <div class="difficulty-div">
    <img 
      src="https://cdn2.iconfinder.com/data/icons/web-part-1/32/cog-4-512.png" 
      alt="broken" 
      height="26px" 
      width="26px">
        <span class="difficulty-span">{{difficulty[question.difficulty]}}</span>
  </div>
</div>
<mat-radio-group class='radio-group' [(ngModel)]="response">
  <mat-radio-button class='radio-button' [value]=question.options[1]>
    {{question.options[1]}}
  </mat-radio-button>
  <mat-radio-button class='radio-button' [value]=question.options[2]>
    {{question.options[2]}}
  </mat-radio-button>
  <mat-radio-button class='radio-button' [value]=question.options[3]>
    {{question.options[3]}}
  </mat-radio-button>
  <mat-radio-button class='radio-button' [value]=question.options[4]>
    {{question.options[4]}}
  </mat-radio-button>
</mat-radio-group>
